{% if object_list.count > 0 %}
<div class="row align-items-center mb-3">
    <div class="col-sm">
        <div class="text-muted text-center text-sm-start">
            Showing <span class="fw-semibold">{{object_list.count}}</span> of <span class="fw-semibold">{{total_results}}</span> Results
        </div>
    </div><!--end col-->
    <div class="col-sm-auto mt-3 mt-sm-0">
        <div class="pagination-wrap hstack justify-content-center gap-2">
            <ul class="pagination listjs-pagination mb-0">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                {% comment %} <li class="active"><a class="page" href="#" data-i="1" data-page="10">1</a></li>
                <li><a class="page" href="#" data-i="2" data-page="10">2</a></li> {% endcomment %}
            </ul>
            {% if page_obj.has_previous %}
            <a class="page-item pagination-prev" href="?page={{ page_obj.previous_page_number }}">
                Previous
            </a>
            {% else %}
            <a class="page-item pagination-prev disabled" href="#">
                Previous
            </a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="page-item pagination-next" href="?page={{ page_obj.next_page_number }}">
                Next
            </a>
            {% else %}
            <a class="page-item pagination-next disabled" href="#">
                Next
            </a>
            {% endif %}
        </div>
    </div><!--end col-->
</div><!--end row-->
{% endif %}