<div class="col-xl-3">
    <div class="card">
        <div class="card-body">
            <div class="text-center border-bottom border-dashed pb-4">
                <img src="{{object.photo.url}}" alt="" class="avatar-lg rounded-circle p-1 img-thumbnail">
                <div class="mt-3">
                    <h5>{{object.user.get_full_name}} <i class="bi bi-patch-check-fill align-baseline text-info ms-1"></i></h5>
                    <p class="text-muted">{{object.designation}}</p>
                </div>
            </div>

            <div class="border-bottom border-dashed py-4">
                <h5 class="card-title mb-3">Information</h5>
                <div class="table-responsive">
                    <table class="table table-borderless table-sm align-middle mb-0">
                        <tbody>
                            <tr>
                                <th class="ps-0" scope="row">Designation</th>
                                <td class="text-muted text-end">{{object.designation}}</td>
                            </tr>
                            <tr>
                                <th class="ps-0" scope="row">Phone No</th>
                                <td class="text-muted text-end">{{object.phone}}</td>
                            </tr>
                            <tr>
                                <th class="ps-0" scope="row">Birth of Date</th>
                                <td class="text-muted text-end">{{object.dob}}</td>
                            </tr>
                            <tr>
                                <th class="ps-0" scope="row">Email</th>
                                <td class="text-muted text-end">{{object.user.email}}</td>
                            </tr>
                            <tr>
                                <th class="ps-0" scope="row">Location</th>
                                <td class="text-muted text-end">{{object.location}}</td>
                            </tr>
                            <tr>
                                <th class="ps-0" scope="row">Joining Date</th>
                                <td class="text-muted text-end">{{object.joining_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>