/* Background Color */
.bg-dark{
  background: #101010 !important;
  color: #fff;
}
.bg-dark-1c{
  background: #1c1c1c !important;
  color: #fff;
}
.text-white{
  color: #fff !important;
}
.bg-light{
  background: #fff !important;
}
.bg-light p{
  color: #565656 !important;
}
.text-dark{
  color: #1c1c1c !important;
}
.margin-top-30{
  margin-top: 30px;
}
.padding-top-40{
  padding-top: 40px !important;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  
  .marquee {
    overflow: hidden;
    position: relative;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    
  }
  .marquee:after {
    right: 0;

  }
  .marquee-content {
    list-style: none;
    height: 100%;
    flex-wrap:nowrap !important;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  } 
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
  .btn-1 .arrow{
    visibility: none;
    opacity: 0;
  }
  .btn-1:hover .arrow{
    visibility: visible;
    opacity: 1;
  }
  .btn-1:hover .arrow i{
    animation: arrow 1s linear;
  }
  @keyframes arrow {
    0% { margin-left:0px;}
    100% { margin-left:10px; transform:rotate(90deg) }
  }
  .about-text-h{
    line-height:120% !important;
    font-size:48px !important;
  }


  /* about page */
  .about{
    padding-top: 200px;
  }
  .margin-0{
    margin: 0;
  }
  .padding-0{
    padding: 0;
  }
  .about h1{
    margin-bottom: 60px;
    color: #fff;
  }
  .about .full-div{
    height: 360px;
  }
  .about .full-div .img{
    position: absolute;
    left: 0px;
    width: 50%;
    max-height: 360px;
  }

  .about .full-div .img img{
    position: relative;
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    border-radius: 0 16px 16px 0;
  }
  .about-team .item{
    background: #f7f7f7;
    padding: 16px;
    border-radius: 24px;
  }
  .about-team .item img{
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .work-process{

  }
  .work-process .work-process-right-item{
    padding: 36px;
    border-radius: 16px;
  }
  .work-process .work-process-right-item .icon{
    padding: 0 24px 8px 24px;
  }
  .work-process .work-process-right-item .icon img{
    width: 48px;
    height: 48px;
  }
  .work-process .work-process-right-item h6{
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 13px;
  }
  .work-process .work-process-right-item p{
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    color: #565656;
    margin: 0;
    padding: 0;
  }
  .work-process .count{
    font-family: "Outfit";
    font-size: 112px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px rgba(86, 86, 86, 16%);
  }
  .what-sets-us .what-sets-us-item{
    padding: 10px 16px;
  }
  .what-sets-us .what-sets-us-item h6{
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 13px;
  }
  .what-sets-us .what-sets-us-item p{
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    color: #565656;
    margin: 0;
    padding: 0;
  }
  .what-sets-us .what-sets-us-item.border-top{
    border-top: 1px solid rgb(86 86 84 /16%);
  }
  .what-sets-us .what-sets-us-item.border-left{
    border-left: 1px solid rgb(86 86 84 /16%);
  }
  .what-sets-us .what-sets-us-item.border-bottom{
    border-bottom: 1px solid rgb(86 86 84 /16%);
  }
  .what-sets-us .what-sets-us-item.border-right{
    border-right: 1px solid rgb(86 86 84 /16%);
  }