{% extends 'codedictiondashboard/layouts/layout.html' %}
{% load static %}

{% block metatags %}
    <meta charset="utf-8">
    <title>Create Course | Steex - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
{% endblock %}

{% block css %}
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'codedictiondashboard/assets/images/favicon.ico' %}">

    <!-- Fonts css load -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- dropzone css -->
    <link rel="stylesheet" href="{% static 'codedictiondashboard/assets/libs/dropzone/dropzone.css' %}" type="text/css">

    <!-- Layout config Js -->
    <script src="{% static 'codedictiondashboard/assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'codedictiondashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'codedictiondashboard/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'codedictiondashboard/assets/css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'codedictiondashboard/assets/css/custom.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Add Curriculum</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{% url 'app.dashboard' %}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'app.dashboard.courses' %}">Curriculum</a></li>
                                        <li class="breadcrumb-item active">Add</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Add Batches</h5>
                                    </div>
                                    <div class="card-body form-steps">
                                        <form action="{% url 'app.dashboard.courses.batches.add' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="coursesDetails" role="tabpanel" aria-labelledby="coursesDetails-tab">
                                                    <div class="row g-3 align-items-center">
                                                        
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="course" class="form-label">Courses<span class="text-danger">*</span></label>
                                                                <div class="d-flex">
                                                                    <div style="width:calc(100% - 112px);">
                                                                        <select class="form-select" id="course" data-choices name="course">
                                                                            {% for course in courses %}
                                                                            <option value="{{course.id}}">{{course.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div style="width:112px;">
                                                                        <div class="d-flex gap-2 justify-content-end">
                                                                            <a href="{% url 'app.dashboard.courses.add' %}" class="btn btn-secondary"><i class="bi bi-plus align-baseline me-1"></i></a>
                                                                            <a class="btn btn-secondary" href="{% url 'app.dashboard.courses' %}"><i class="bi bi-eye align-baseline me-1"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.course.errors %}
                                                                <ul>
                                                                {% for error in form.course.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="batch_name" class="form-label">Batch Name<span class="text-danger">*</span></label>
                                                                <input type="text" id="batch_name" class="form-control" placeholder="Batch  Name" name="batch_name" value="{{form.batch_name.value}}" required>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.batch_name.errors %}
                                                                <ul>
                                                                {% for error in form.batch_name.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="slug" class="form-label">Slug<span class="text-danger">*</span></label>
                                                                <input type="text" id="slug" class="form-control" placeholder="Slug" name="slug" value="{{form.slug.value}}" required>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.slug.errors %}
                                                                <ul>
                                                                {% for error in form.slug.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="image" class="form-label">Image<span class="text-danger">*</span></label>
                                                                <input type="file" id="image" class="form-control" placeholder="image" name="image">
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.image.errors %}
                                                                <ul>
                                                                {% for error in form.image.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="start_at" class="form-label">Start At<span class="text-danger">*</span></label>
                                                                <input type="text" id="start_at" class="form-control" placeholder="Start At" name="start_at" value="{{form.start_at.value}}" required>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.start_at.errors %}
                                                                <ul>
                                                                {% for error in form.start_at.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="batch_time" class="form-label">Batch Time<span class="text-danger">*</span></label>
                                                                <input type="text" id="batch_time" class="form-control" placeholder="Batch Time" name="batch_time" value="{{form.batch_time.value}}" required>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.batch_time.errors %}
                                                                <ul>
                                                                {% for error in form.batch_time.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="language" class="form-label">Language<span class="text-danger">*</span></label>
                                                                <input type="text" id="language" class="form-control" placeholder="Language" name="language" value="{{form.language.value}}" required>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.language.errors %}
                                                                <ul>
                                                                {% for error in form.language.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label for="meta_data" class="form-label">Meta Tags<span class="text-danger">*</span></label>
                                                                <textarea class="form-control" id="meta_data" rows="3" placeholder="Enter Meta Tags" name="meta_data">{{form.meta_data.value}}</textarea>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.meta_data.errors %}
                                                                <ul>
                                                                {% for error in form.meta_data.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div><!--end col-->

                                                        <div class="col-lg-12">
                                                            <div>
                                                                <label class="form-label">Add Description<span class="text-danger">*</span></label>
                                                                <textarea class="ckeditor-classic" name="description">{{form.description.value}}</textarea>
                                                            </div>
                                                            <div class="form-errors text-danger">
                                                                {% if form.description.errors %}
                                                                <ul>
                                                                {% for error in form.description.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div><!--end row-->
                                                    <div class="d-flex align-items-start gap-3 mt-4">
                                                        <button type="submit" class="btn btn-primary btn-label right ms-auto nexttab nexttab" data-nexttab="pills-info-desc-tab"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i> Submit</button>
                                                    </div>
                                                </div>
                                                <!-- end tab pane -->
                                            </div>
                                            <!-- end tab content -->
                                        </form>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Steex.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
{% endblock %}

{% block popups %}
 <!-- Modal -->
 <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header bg-danger p-3">
                <h5 class="modal-title text-white" id="addCourseLabel">Add Category</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>

            <form id="add-edit-form" action="{% url 'app.dashboard.courses.category.add' %}" method="POST" class="tablelist-form" novalidate autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>

                    <div class="mb-3">
                        <label for="c-name" class="form-label">Name<span class="text-danger">*</span></label>
                        <input type="text" id="c-name" class="form-control" placeholder="Name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="c-slug" class="form-label">Slug<span class="text-danger">*</span></label>
                        <input type="text" id="c-slug" class="form-control" placeholder="Slug" name="slug" required>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="c-meta_tags" class="form-label">Meta Tags<span class="text-danger">*</span></label>
                                <textarea id="c-meta_tags" class="form-control" name="meta_data" required></textarea>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" data-bs-dismiss="modal"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add Category</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end add Property modal-->
{% endblock %}

{% block js %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'codedictiondashboard/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'codedictiondashboard/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'codedictiondashboard/assets/js/plugins.js' %}"></script>

    <!-- ckeditor -->
    <script src="{% static 'codedictiondashboard/assets/libs/%40ckeditor/ckeditor5-build-classic/build/ckeditor.js' %}"></script>
    
    <!-- dropzone min -->
    <script src="{% static 'codedictiondashboard/assets/libs/dropzone/dropzone-min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'codedictiondashboard/assets/js/pages/form-editor.init.js' %}"></script>
    
    <!-- form wizard init -->
    <script src="{% static 'codedictiondashboard/assets/js/pages/form-wizard.init.js' %}"></script>

    <script src="{% static 'codedictiondashboard/assets/js/pages/learning-create.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'codedictiondashboard/assets/js/app.js' %}"></script>
{% endblock %}