{% extends 'courses/layouts/layout.html' %}
{% load static %}

{% block metatags %}
<title>Codediction | Contact</title>
{% endblock metatags %}

{% block main %}
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img bg-fixed bg-img-position-top" data-overlay-dark="5" data-background="{% static "courses/images/slider/2.jpg" %}">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt-60">
                        <h1>Contact</h1>
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Contact  -->
    <section class="contact section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="row mb-60">
                        <div class="col-md-12">
                            {% comment %} <h5>Central Office</h5>
                            <p>Nulla posuere tortoran nisan sempere scelerisque etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius the natose nenatis magnis the duru parturient montes ridiculus.</p> {% endcomment %}
                            <div class="con">
                                <div class="icon"> <span class="fa-solid fa-phone"></span> </div>
                                <div class="con-content">
                                    <p class="text"><a href="tel:+918218444136">+91-8218444136</a></p>
                                </div>
                            </div>
                            <div class="con">
                                <div class="icon"> <span class="fa-solid fa-envelope"></span> </div>
                                <div class="con-content">
                                    <p class="text"><a href="mailto:codediction@gmail.com">hi@alfrik.com</a></p>
                                </div>
                            </div>
                            <div class="con">
                                <div class="icon"> <span class="fa-solid fa-location"></span> </div>
                                <div class="con-content">
                                    <p class="text">96, Sant Nagar, East of Kailash
                                        <br>Delhi, India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Opening Hours</h5>
                            <div class="opening-hours">
                                <ul>
                                    <li>
                                        <div class="tit">Monday - Friday</div>
                                        <div class="dots"></div> <span>12:00 PM - 10:00 PM</span>
                                    </li>
                                    <li>
                                        <div class="tit">Saturday</div>
                                        <div class="dots"></div> <span>Closed</span>
                                    </li>
                                    <li>
                                        <div class="tit">Sunday</div>
                                        <div class="dots"></div> <span>Closed</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h5>Get in touch!</h5>
                    <form method="post" action="{% url 'app.contact.sendform' %}">
                        {% csrf_token %}
                        <!-- Form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: {% if msg %}
                                block
                                {% else %}
                                none
                                {% endif %}" role="alert"> Your message was sent successfully. </div>
                            </div>
                        </div>
                        <!-- Form elements -->
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input name="name" type="text" placeholder="Name *" value="{% if form.name.value %}{{form.name.value}}{% endif %}" required>
                                <div class="form-errors text-danger">
                                    {% if form.name.errors %}
                                    <ul>
                                    {% for error in form.name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="email" placeholder="Email Address *" value="{% if form.email.value %}{{form.email.value}}{% endif %}" required>
                                <div class="form-errors text-danger">
                                    {% if form.email.errors %}
                                    <ul>
                                    {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="phone" type="text" placeholder="Phone *" value="{% if form.phone.value %}{{form.phone.value}}{% endif %}" required>
                                <div class="form-errors text-danger">
                                    {% if form.phone.errors %}
                                    <ul>
                                    {% for error in form.phone.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input name="subject" type="text" placeholder="Subject *" value="{% if form.subject.value %}{{form.subject.value}}{% endif %}" required>
                                <div class="form-errors text-danger">
                                    {% if form.subject.errors %}
                                    <ul>
                                    {% for error in form.subject.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea name="message" id="message" cols="30" rows="4" placeholder="How can we help you? Feel free to get in touch! *" required>{% if form.message.value %}{{form.message.value}}{% endif %}</textarea>
                                <div class="form-errors text-danger">
                                    {% if form.message.errors %}
                                    <ul>
                                    {% for error in form.message.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <!-- Maps -->
    <section id="map">
        <div class="full-width">
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573147.7480448114!2d-74.84628175962355!3d41.04009641088412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25856139b3d33%3A0xb2739f33610a08ee!2s1616%20Broadway%2C%20New%20York%2C%20NY%2010019%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1646760525018!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Lets Talk -->
    <section class="lets-talk background bg-img bg-fixed section-padding" data-overlay-dark="7" data-background="{% static "courses/images/banner2.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="wow" data-splitting>We develop digital future</h6>
                    <h5><span>Let's</span> Talk?</h5>
                    <a href="tel:+918218444136" class="btn-1 mt-30"> <i class="fa-solid fa-phone"></i>+91-8218444136</a>
                    <a href="https://wa.me/8218444136?text=Hello, Can I know more..." target="_blank" class="btn-5 mt-30"> <i class="fa-solid fa-paper-plane"></i> Make an enquiry</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
{% endblock main %}