{% extends 'courses/layouts/layout.html' %}
{% load static %}

{% block metatags %}
<title>About</title>
{% endblock metatags %}

{% block main %}
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img bg-fixed bg-img-position-top" data-overlay-dark="5" data-background="images/slider/1.jpg">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt-60">
                        <h1>Frequently Asked Questions</h1>
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li>Frequently Asked Questions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- FAQs -->
    <section class="team section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <ul class="accordion-box clearfix">
                        <li class="accordion block">
                            <div class="acc-btn"><span class="count">1.</span> How long does it take to build a website?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nulla posuere tortoran nisan sempere scerisue etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius natoque penatis magnis the duru parturient monte nascetur ridiculus lacus suscipit congue done miss the rana risus.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn"><span class="count">2.</span> Do you redesign existing websites?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nulla posuere tortoran nisan sempere scerisue etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius natoque penatis magnis the duru parturient monte nascetur ridiculus lacus suscipit congue done miss the rana risus.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn"><span class="count">3.</span> Do you work internationally?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nulla posuere tortoran nisan sempere scerisue etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius natoque penatis magnis the duru parturient monte nascetur ridiculus lacus suscipit congue done miss the rana risus.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn"><span class="count">4.</span> Can you help me rank high in Google?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nulla posuere tortoran nisan sempere scerisue etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius natoque penatis magnis the duru parturient monte nascetur ridiculus lacus suscipit congue done miss the rana risus.</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn"><span class="count">5.</span> Can you help with my social media?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Nulla posuere tortoran nisan sempere scerisue etiam ornare iros metusan the ravidane sodales vesaire. Integer ac molestie nisi orci varius natoque penatis magnis the duru parturient monte nascetur ridiculus lacus suscipit congue done miss the rana risus.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Lets Talk -->
    <section class="lets-talk background bg-img bg-fixed section-padding" data-overlay-dark="7" data-background="images/banner2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="wow" data-splitting>We develop digital future</h6>
                    <h5><span>Let's</span> Talk?</h5> 
                    <a href="tel:+8001234567" class="btn-1 mt-30"> <i class="fa-solid fa-phone"></i> 800 123 4567</a> 
                    <a href="contact.html" class="btn-5 mt-30"> <i class="fa-solid fa-paper-plane"></i> Make an enquiry</a>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}