{% extends 'courses/layouts/layout.html' %}
{% load static %}

{% block metatags %}
<title>About</title>
{% endblock metatags %}

{% block main %}
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img bg-fixed" data-overlay-dark="7" data-background="{% static "courses/images/blog/b1.jpg" %}">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-60">
                        <h1>{{service.name}}</h1>
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'app.index' %}">Home</a></li>
                            <li><a href="{% url 'app.services' %}">Services</a></li>
                            <li>{{service.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Page  -->
    <section class="section-padding services-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h5>Summary</h5>
                    {% autoescape off %}
                    {{service.description}}
                    {% endautoescape %}
                </div>
                <div class="col-lg-4 col-md-12 sidebar-side">
                    <aside class="sidebar blog-sidebar">
                        <div class="sidebar-widget services">
                            <div class="widget-inner">
                                <ul>
                                    {% for a_service in services %}
                                    <li><a href="{% url 'app.services.details' a_service.slug %}">{{a_service.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- Lets Talk -->
    <section class="lets-talk background bg-img bg-fixed section-padding" data-overlay-dark="7" data-background="{% static "courses/images/banner2.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="wow" data-splitting>We develop digital future</h6>
                    <h5><span>Let's</span> Talk?</h5>
                    <a href="tel:+918218444136" class="btn-1 mt-30"> <i class="fa-solid fa-phone"></i>+91-8218444136</a>
                    <a href="https://wa.me/8218444136?text=Hello, Can I know more..." target="_blank" class="btn-5 mt-30"> <i class="fa-solid fa-paper-plane"></i> Make an enquiry</a>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}