{% extends 'codedictionapp/layouts/layout.html' %}
{% load static %}
    {% block metatags %}
        <title>IKO - ICO & Crypto Landing Page Template</title>
        <meta name="description" content="IKO - ICO & Crypto Landing Page Template">
    {% endblock metatags %}

    {% block styles %}

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/responsive.css' %}">
    {% endblock styles %}

    {% block content %}
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'codedictionapp/assets/img/bg/breadcrumb_bg.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Our Blog</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url "app.index" %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Our Blog</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="{% static 'codedictionapp/assets/img/images/breadcrumb_shape01.png' %}" alt="" class="alltuchtopdown">
                    <img src="{% static 'codedictionapp/assets/img/images/breadcrumb_shape02.png' %}" alt="" class="rotateme">
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-140 pb-140">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-post-wrap">
                                {% for blog in blogs %}
                                <div class="blog-masonry-post">
                                    <div class="blog-masonry-thumb">
                                        <a href="{% url 'app.blog.details' blog.category.slug blog.slug %}"><img src="{{blog.image.url}}" alt="{{blog.title}}"></a>
                                    </div>
                                    <div class="blog-masonry-content">
                                        <div class="blog-meta">
                                            <ul class="list-wrap">
                                                <li><i class="far fa-clock"></i>{{blog.uploaded_at}}</li>
                                                {% comment %} <li><a href="blog-details.html"><i class="far fa-comment"></i>07</a></li>
                                                <li><i class="far fa-eye"></i>1,752Viewers</li> {% endcomment %}
                                            </ul>
                                        </div>
                                        <h2 class="title"><a href="{% url 'app.blog.details' blog.category.slug blog.slug %}">{{blog.title}}</a></h2>
                                        <p>{{blog.brief}}</p>
                                        <div class="content-bottom">
                                            <div class="blog-author">
                                                <a href="blog-details.html">{{blog.uploaded_by.get_full_name}}</a>
                                            </div>
                                            <div class="read-more-btn">
                                                <a href="{% url 'app.blog.details' blog.category.slug blog.slug %}">Read More<i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <nav class="pagination-wrap">
                                <ul class="list-wrap">
                                    <li><a href="#"><i class="fas fa-arrow-left"></i></a></li>
                                    <li class="active"><a href="blog.html">1</a></li>
                                    <li><a href="blog.html">2</a></li>
                                    <li><a href="blog.html"><i class="fas fa-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4">
                            <aside class="blog-sidebar">
                                <div class="blog-widget">
                                    <h4 class="widget-title">Categories</h4>
                                    <div class="sidebar-cat-list">
                                        <ul class="list-wrap">
                                            {% for b_category in blog_categories %}
                                                <li><a href="{% url 'app.blog.bycategory' b_category.slug %}">{{b_category.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

        </main>
        <!-- main-area-end -->
    {% endblock content %}

    {% block scripts %}
        <!-- JS here -->
        <script src="{% static 'codedictionapp/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/slick.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.easing.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/main.js' %}"></script>
    {% endblock scripts %}