{% extends 'codedictionapp/layouts/layout.html' %}
{% load static %}
    {% block metatags %}
        <title>IKO - ICO & Crypto Landing Page Template</title>
        <meta name="description" content="IKO - ICO & Crypto Landing Page Template">
    {% endblock metatags %}

    {% block styles %}
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/responsive.css' %}">
    {% endblock styles %}

    {% block content %}
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'codedictionapp/assets/img/bg/breadcrumb_bg.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Contact Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="{% static 'codedictionapp/assets/img/images/breadcrumb_shape01.png' %}" alt="" class="alltuchtopdown">
                    <img src="{% static 'codedictionapp/assets/img/images/breadcrumb_shape02.png' %}" alt="" class="rotateme">
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-140 pb-140">
                <div class="container">
                    <div class="contact-info-wrap">
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Location</h6>
                                        <p>1901 Thornridge Cir. <br> Shiloh, Hawaii</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Contact</h6>
                                        <p><a href="tel:0123456789">+88(0) 555-0108</a> <br> <a href="tel:0123456789">+88(0) 555-01117</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Email</h6>
                                        <p><a href="mailto:iko.@example.com">sara.cruz@example.com</a> <br> <a href="mailto:iko.@example.com">iko.@example.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <i class="fas fa-business-time"></i>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Visit Between</h6>
                                        <p>Mon - Sat : 8.00-5.00 <br> Sunday : Closed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-wrap">
                        <div class="row g-0">
                            <div class="col-8 order-0 order-lg-2 mx-auto">
                                <div class="contact-form">
                                    <h4 class="title">Send a message</h4>
                                    <form id="contact-form" action="https://themeadapt.com/tf/iko/assets/mail.php" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" name="name" placeholder="Enter you name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="email" name="email" placeholder="Enter you email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="number" name="number" placeholder="Mobile no">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" name="company" placeholder="Company">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <textarea name="message" placeholder="Enter you message....."></textarea>
                                        </div>
                                        <button type="submit" class="btn">Send Message</button>
                                    </form>
                                    <p class="ajax-response mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

        </main>
        <!-- main-area-end -->
    {% endblock content %}


     {% block scripts %}
        <!-- JS here -->
        <script src="{% static 'codedictionapp/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/slick.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.easing.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'codedictionapp/assets/js/main.js' %}"></script>
    {% endblock scripts %}
