
{% extends 'codedictionapp/layouts/layout.html' %}
{% load static %}
    {% block metatags %}
    <title>IKO - ICO & Crypto Landing Page Template</title>
    <meta name="description" content="IKO - ICO & Crypto Landing Page Template">
    {% endblock metatags %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'codedictionapp/assets/css/responsive.css' %}">
    {% endblock styles %}

    {% block content %}
        <!--==============================
    Hero Area
    ==============================-->
    <div class="hero-wrapper hero-2">
        <div class="hero-bg-gradient1"></div>
        <div class="hero-bg-gradient2"></div>
        <div class="hero-gradient-ball alltuchtopdown"></div>
        <div class="ripple-shape">
            <span class="ripple-1"></span>
            <span class="ripple-2"></span>
            <span class="ripple-3"></span>
            <span class="ripple-4"></span>
            <span class="ripple-5"></span>
        </div>
        <div class="container">
            <div class="hero-style2">
                <div class="row">
                    <div class="col-lg-12">
                        <h6 class="hero-subtitle">GET IT SOLUTION WITH</h6>
                        <h1 class="hero-title">Codediction</h1>
                        <div class="btn-wrap">
                            <h3 class="hero-title2">Innovative IT Solutions</h3>
                            <div class="hero-content">
                                <p class="hero-text">Empowering businesses with custom software, web, and mobile development to fuel growth and digital transformation. Let us help you turn your ideas into reality.</p>
                                <a href="{% url "app.contact" %}" class="btn btn3" >
                                    Get Started Today
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
 <!--==============================
    Feature Area 02
    ==============================-->
    <div class="feature-area-2 pb-140 position-relative overflow-hidden" style="background-image: url({% static 'codedictionapp/assets/img/update/bg/feature-area-bg.png' %}); background-size: cover; background-position: center;" id="blockchain">
        <div class="feature-area-shape">
            <img class="feature-shape2-1 alltuchtopdown" src="{% static 'codedictionapp/assets/img/update/feature/feature-shape-2-1.png' %}" alt="img">
            <img class="feature-shape2-2 alltuchtopdown" src="{% static 'codedictionapp/assets/img/update/feature/feature-shape-2-2.png' %}" alt="img">
            <img class="feature-shape2-3 leftToRight" src="{% static 'codedictionapp/assets/img/update/feature/feature-shape-2-3.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-8">
                    <div class="section-title text-center mb-50">
                        <span class="sub-title">ABOUT BLOCKCHAIN</span>
                        <h2 class="title style2">Services We Provide</h2>
                        <p class="sec-text">We’ve worked with over 400 companies to build blockchain solutions for their business, and we are still growing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-grid-wrap">
                {% for service in services %}
                    {% if forloop.counter0|divisibleby:3 %}
                    </div>
                    <div class="feature-grid-wrap">
                    {% endif %}

                    <div class="feature-card-grid">
                        <div class="feature-card-details">
                            <h3 class="feature-card-title">
                                {% autoescape off %}
                                {{service.name}}
                                {%endautoescape%}
                            </h3>
                            <p class="feature-card-text">
                                {% autoescape off %}
                                {{service.brief}}
                                {%endautoescape%}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--==============================
        RoadMap Area 2
    ==============================-->
    <div class="pt-130 pb-140 overflow-hidden position-relative z-index-common" id="roadMap">
        <div class="bg-gradient-2">
            <img src="{% static 'codedictionapp/assets/img/update/bg/bg-gradient1-1.jpg' %}" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-sm-8">
                    <div class="section-title mb-50">
                        <h2 class="title style2">Technologies We Expertize On</h2>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="icon-box">
                        <button class="slider-arrow prev-btn default"><i class="fas fa-arrow-left"></i></button>
                        <button class="slider-arrow next-btn default"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="slider-area position-relative">
                <div class="row roadMap-active2 roadmap-slider1">
                    {% for subject in subjects %}
                    <div class="col-lg-4">
                        <div class="roadmap-item">
                            <span class="roadmap-title">{{subject.subject_type.name}}</span>
                            <div class="roadmap-content">
                                <h4 class="title"><span class="dot"><img src="{{subject.icon.url}}"></span>{{subject.name}}</h4>
                                <p>SubQuery Builders/Grants Program SQT Network contract internal MVP Coordinator and client SDK implementations</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
     <!--==============================
    Intro Area
    ==============================-->
    <div class="pt-130 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="section-title mb-45">
                        <h2 class="title style2">Why Choose Us?</h2>
                        <p class="sec-text">True wealth in the world of virtual currencies</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-xl-4">
                    <div class="intro-wrap mt-xl-4">
                        <h6 class="intro-wrap-title">Expert Team</h6>
                        <p class="intro-wrap-text">Our team of skilled developers, designers, and project managers are experts in delivering high-quality solutions that drive success.</p>
                    </div>
                    <div class="intro-wrap">
                        <h6 class="intro-wrap-title">Custom Solutions</h6>
                        <p class="intro-wrap-text">We understand that every business is unique. That’s why we provide tailored solutions that align with your goals and objectives.</p>
                    </div>
                    <div class="intro-wrap">
                        <h6 class="intro-wrap-title">Innovation & Quality</h6>
                        <p class="intro-wrap-text">We harness the latest technology trends to build innovative, high-quality solutions that drive success.</p>
                    </div>
                    <div class="intro-wrap">
                        <h6 class="intro-wrap-title">End-to-End Support</h6>
                        <p class="intro-wrap-text">From project inception to post-launch support, we are with you at every step of your digital transformation journey.</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="intro-thumb1 alltuchtopdown">
                        <img src="{% static 'codedictionapp/assets/img/update/normal/intro_1-1.png' %}" alt="img">
                    </div>
                    <div class="intro-wrap mt-50">
                        <h6 class="intro-wrap-title">Our Process</h6>
                        <p class="intro-wrap-text"><strong>Discovery & Strategy</strong>: We begin by understanding your business objectives and identifying the best technological solutions.</p>
                        <p class="intro-wrap-text mt-40"><strong>Design & Development</strong>: Our team designs intuitive interfaces and develops robust systems that prioritize user experience.</p>
                        <p class="intro-wrap-text mt-40"><strong>Testing & Deployment</strong>: Every solution is thoroughly tested to ensure flawless performance, followed by seamless deployment.</p>
                        <p class="intro-wrap-text mt-40"><strong>Support & Maintenance</strong>: Post-launch, we offer continuous support, updates, and maintenance to ensure optimal performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Brand Area 3
    ==============================-->
    <div class="pt-130 pb-130 brand-area3">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-12">
                    <div class="brand-title2 text-center">
                        <h6 class="title">Our Clients</h6>
                    </div>
                </div>
            </div>
            <div class="brand-item-wrap3">
                <div class="row g-0 brand-active2">
                    {% for client in clients %}
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="{{client.image.url}}" alt="{{client.image.name}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--==============================
        Testimonia Area
    ==============================-->
    <div class="pb-140 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-50">
                        <span class="sub-title">TESTIMONIAL</span>
                        <h2 class="title style2">What Clients Say About Us</h2>
                    </div>
                </div>
            </div>

            <div class="testimonial-wrap-3">
                <div class="testimonial-wrap-circle1 alltuchtopdown"></div>
                <div class="testimonial-wrap-circle2 leftToRight"></div>
                <div class="testimonial-wrap-circle3 leftToRight"></div>
                <div class="testimonial-wrap-bg alltuchtopdown">
                    <img src="{% static 'codedictionapp/assets/img/update/bg/testimonial-4-bg.png' %}" alt="img">
                </div>
                <div class="slider-area testimonial-slider-wrap">
                    <div class="row testimonial-slider1">
                        {% for testimonial in testimonials %}
                        <div class="col-lg-6 slider-item">
                            <div class="testi-box ">
                                <div class="testi-box-profile">
                                    <div class="testi-box-profile-thumb">
                                        <img src="{{testimonial.photo.url}}" alt="img">
                                    </div>
                                    <div class="testi-box-profile-details">
                                        <h4 class="testi-box_name">{{testimonial.name}}</h4>
                                        <span class="testi-box_desig">{{testimonial.designation}}</span>
                                    </div>
                                    <div class="testi-box-profile-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p class="testi-box_text">{{testimonial.testimonial}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button data-slider-prev=".testimonial-slider1" class="slider-arrow prev-btn"><i class="fas fa-arrow-left"></i></button>
                    <button data-slider-next=".testimonial-slider1" class="slider-arrow next-btn"><i class="fas fa-arrow-right"></i></button>
                </div>

            </div>
        </div>
    </div>

    <!--==============================
    Faq Area 2
    ==============================-->
    <div class="pt-140 pb-140 overflow-hidden position-relative z-index-common">
        <div class="faq-2-shape-1"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                    <div class="section-title mb-50">
                        <span class="sub-title">FAQ</span>
                        <h2 class="title style2">Popular questions about blockchain</h2>
                        <p class="sec-text">We’ve worked with over 400 companies to build blockchain solutions for their business, and we are still growing.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="accordion-area accordion" id="faqAccordion">

                        <div class="accordion-card style2">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What services does your company offer?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">We provide a wide range of IT services, including web and mobile application development, SaaS solutions, custom software development, ERP, HRMS, CMS, and CRM development, learning management systems (LMS), and more. We also offer IT consulting, cloud solutions, and digital transformation services.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">How do I get started with a project?
                                </button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Getting started is easy! Simply reach out to us via our contact form or give us a call to discuss your project requirements. We’ll schedule a consultation to understand your needs and offer tailored solutions based on your goals.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"> What industries do you serve?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">We work with a variety of industries including e-commerce, healthcare, education, finance, logistics, manufacturing, and more. Our team has the expertise to provide specialized solutions across multiple sectors.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style2">
                            <div class="accordion-header" id="collapse-item-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">How long does it take to complete a project?</button>
                            </div>
                            <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Project timelines vary depending on the scope, complexity, and specific requirements of your project. During our initial consultation, we’ll provide an estimated timeline and keep you updated throughout the project’s development phases.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style2">
                            <div class="accordion-header" id="collapse-item-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">Do you offer post-launch support and maintenance?</button>
                            </div>
                            <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, we offer comprehensive post-launch support and maintenance to ensure your system runs smoothly after deployment. Whether it's regular updates, performance monitoring, or troubleshooting, we’re here to help.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    CTA Area 3
    ==============================-->
    <div class="pb-120 position-relative z-index-common">
        <div class="container">
            <div class="cta-wrap3">
                <div class="cta-wrap-details">
                    <div class="section-title mb-20">
                        <h2 class="title style2 text-title">Get Started with a Free Consultation</h2>
                        <p class="sec-text text-title">Let’s explore your project vision together. Schedule a free consultation with our experts and discover how we can help your business grow.</p>
                    </div>
                    <a href="{% url "app.contact" %}" class="btn btn3">
                        Get started
                    </a>
                </div>
                <div class="cta-3-thumb movingX">
                    <img src="{% static 'codedictionapp/assets/img/update/normal/cta_3-1.png' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}


    {% block scripts %}
    <script src="{% static 'codedictionapp/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/slick.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/jquery.easing.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'codedictionapp/assets/js/main.js' %}"></script>
    {% endblock scripts %}