{% extends 'courtmasterdashboard/layouts/layout.html' %}
{% load static %}
{% load mathematical_tags %}

{% block metatags %}
    <meta charset="utf-8">
    <title>My Subscriptions | Steex - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
{% endblock %}

{% block css %}
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static "courtmasterdashboard/assets/images/favicon.ico" %}">

    <!-- Fonts css load -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- Layout config Js -->
    <script src="{% static "courtmasterdashboard/assets/js/layout.js" %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static "courtmasterdashboard/assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static "courtmasterdashboard/assets/css/icons.min.css" %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static "courtmasterdashboard/assets/css/app.min.css" %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static "courtmasterdashboard/assets/css/custom.min.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Templates Category</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{% url 'app.dashboard' %}">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'app.dashboard.template' %}">Templates</a></li>
                                        <li class="breadcrumb-item active">Category</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center gy-3">
                                        <div class="col-lg-3 order-last order-md-first me-auto">
                                            <div class="search-box">
                                                <input type="text" class="form-control search" placeholder="Search for agent, email, address or something...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div><!--end col-->
                                
                                        <div class="col-lg-auto text-end">
                                            <div class="d-flex gap-2">
                                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addCourse"><i class="bi bi-plus align-baseline me-1"></i> Add New</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <!-- Striped Rows -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subcriber in object_list %}
                                        <tr>
                                            <th scope="row">{{page_obj.number|add:'-1'|multiply:paginate_by|add:forloop.counter}}</th>
                                            <td>{{subcriber.email}}</td>
                                            <td>{{subcriber.uploaded_at}}</td>
                                            <td><button class="btn btn-danger delete-category" data-action="{% url 'app.dashboard.subscribers.delete' subcriber.id %}" data-bs-toggle="modal" data-bs-target="#deleteRecordModal"><i class="bi bi-trash align-baseline me-1"></i> Delete</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="noresult" style="display: none">
                                    <div class="text-center py-4">
                                        <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                        <p class="text-muted mb-0">We've searched more than 164+ courses We did not find any courses for you search.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col-sm">
                                    <div class="text-muted text-center text-sm-start">
                                        Showing <span class="fw-semibold">{{object_list.count}}</span> of <span class="fw-semibold">{{total_subscribers}}</span> Results
                                    </div>
                                </div><!--end col-->
                                <div class="col-sm-auto mt-3 mt-sm-0">
                                    <div class="pagination-wrap hstack justify-content-center gap-2">
                                        
                                        
                                        <ul class="pagination listjs-pagination mb-0">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            {% comment %} <li class="active"><a class="page" href="#" data-i="1" data-page="10">1</a></li>
                                            <li><a class="page" href="#" data-i="2" data-page="10">2</a></li> {% endcomment %}
                                        </ul>
                                        {% if page_obj.has_previous %}
                                        <a class="page-item pagination-prev" href="?page={{ page_obj.previous_page_number }}">
                                            Previous
                                        </a>
                                        {% else %}
                                        <a class="page-item pagination-prev disabled" href="#">
                                            Previous
                                        </a>
                                        {% endif %}
                                        {% if page_obj.has_next %}
                                        <a class="page-item pagination-next" href="?page={{ page_obj.next_page_number }}">
                                            Next
                                        </a>
                                        {% else %}
                                        <a class="page-item pagination-next disabled" href="#">
                                            Next
                                        </a>
                                        {% endif %}
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
        
                        </div><!--end col-->
                    </div><!--end row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Steex.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
{% endblock %}

{% block popups %}
    <!-- deleteRecordModal -->
    <div id="deleteRecordModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-md-5">
                    <div class="text-center">
                        <div class="text-danger">
                            <i class="bi bi-trash display-5"></i>
                        </div>
                        <div class="mt-4">
                            <h4 class="mb-2">Are you sure ?</h4>
                            <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                        <button type="button" class="btn w-sm btn-light btn-hover" data-bs-dismiss="modal">Close</button>
                        <a href="" class="btn w-sm btn-danger btn-hover" id="delete-record">Yes, Delete It!</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /deleteRecordModal -->
{% endblock %}

{% block js %}
    <script>
        document.querySelectorAll('.edit-category').forEach(element=>{
            element.onclick = function(){
                document.getElementById('name').value=this.dataset.name
                document.getElementById('slug').value=this.dataset.slug
                document.getElementById('meta_tags').value=this.dataset.metatags
                document.getElementById('add-edit-form').action=this.dataset.action
                document.getElementById('addCourseLabel').innerHTML='Edit Category'
                document.getElementById('add-btn').innerHTML='Edit Category'
            }
        })
    </script>
    <script>
        document.querySelectorAll('.delete-category').forEach(element=>{
            element.onclick = function(){
                document.getElementById('delete-record').href = this.dataset.action;
            }
        })
    </script>
    <!-- JAVASCRIPT -->
    <script src="{% static "courtmasterdashboard/assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "courtmasterdashboard/assets/libs/simplebar/simplebar.min.js" %}"></script>
    <script src="{% static "courtmasterdashboard/assets/js/plugins.js" %}"></script>
    
    <!-- List Js -->
    <script src="{% static "courtmasterdashboard/assets/libs/list.js/list.min.js" %}"></script>

    <!--Learning student subscriptions init js-->
    <script src="{% static "courtmasterdashboard/assets/js/pages/learning-student-subscriptions.init.js" %}"></script>

    <!-- App js -->
    <script src="{% static "courtmasterdashboard/assets/js/app.js" %}"></script>
{% endblock %}