{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    {% block metatags %}
    {% endblock metatags %}
   

    {% block styles %}
    {% endblock styles %}
</head>

<body class="home-purple-gradient">
    <div id="preloader">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <header id="header" class="header-layout1">
        <div id="sticky-header" class="menu-area transparent-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-wrap">
                            <nav class="menu-nav">
                                <div class="logo">
                                    <a href="index-2.html"><img src="{% static 'codedictionapp/assets/img/logo/logo-light.png' %}" style="height: 60px;" alt="Logo"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="active menu-item-has-children"><a class="section-link" href="#header">Home</a>
                                            <ul class="sub-menu">
                                                <li class="active"><a href="index-2.html">ICO Investment</a></li>
                                                <li><a href="index-3.html">Blockchain</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#feature" class="section-link">Feature</a></li>
                                        <li><a href="#roadMap" class="section-link">RoadMap</a></li>
                                        <li class="menu-item-has-children"><a href="#">blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Our Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="header-action">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="dropdown-link">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">ENG</a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                    <li>
                                                        <a href="#">GER</a>
                                                        <a href="#">FREN</a>
                                                        <a href="#">ARAB</a>
                                                        <a href="#">LAT</a>
                                                        <a href="#">SPA</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="header-login"><a class="btn2" href="contact.html">LOGIN</a></li>
                                    </ul>
                                </div>
                                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <nav class="menu-box">
                <div class="close-btn"><i class="fas fa-times"></i></div>
                <div class="nav-logo">
                    <a href="index-2.html"><img src="assets/img/logo/logo.png" style="height: 35px;" alt="Logo"></a>
                </div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="social-links">
                    <ul class="clearfix list-wrap">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path
                                        d="M10.0596 7.34522L15.8879 0.570312H14.5068L9.44607 6.45287L5.40411 0.570312H0.742188L6.85442 9.46578L0.742188 16.5703H2.12338L7.4676 10.3581L11.7362 16.5703H16.3981L10.0593 7.34522H10.0596ZM8.16787 9.54415L7.54857 8.65836L2.62104 1.61005H4.74248L8.71905 7.29827L9.33834 8.18405L14.5074 15.5779H12.386L8.16787 9.54449V9.54415Z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                        </li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="menu-backdrop"></div>
        <!-- End Mobile Menu -->
    </header>


    {% block content %}
    {% endblock content %}

    <footer class="footer-wrapper footer-layout2 pb-50">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-auto col-lg-6 order-xl-1">
                    <div class="widget footer-widget">
                        <div class="widget-about">
                            <div class="footer-logo">
                                <a href="index-2.html"><img src="{% static 'codedictionapp/assets/img/logo/logo-light.png' %}" style="height: 66px;" alt="iko"></a>
                            </div>
                            <p class="about-text">Iko is a cutting-edge blockchain technology company at the forefront of innovation in the decentralized ledger space. Established in 2024</p>
                            <div class="social-btn style2">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path
                                            d="M10.0596 7.34522L15.8879 0.570312H14.5068L9.44607 6.45287L5.40411 0.570312H0.742188L6.85442 9.46578L0.742188 16.5703H2.12338L7.4676 10.3581L11.7362 16.5703H16.3981L10.0593 7.34522H10.0596ZM8.16787 9.54415L7.54857 8.65836L2.62104 1.61005H4.74248L8.71905 7.29827L9.33834 8.18405L14.5074 15.5779H12.386L8.16787 9.54449V9.54415Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </a>
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-auto col-lg-6 order-xl-3">
                    <div class="footer-widget widget-newsletter">
                        <h3 class="fw-title">SIGN UP FOR EMAIL UPDATES</h3>
                        <p class="newsletter-text">Sign up with your email address to receive news and updates</p>
                        <form class="newsletter-form">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Your Email Address" required="">
                            </div>
                            <button type="submit" class="btn btn5">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-6 order-xl-2">
                    <div class="footer-widget widget-contact">
                        <h3 class="fw-title">CONTACT US</h3>
                        <p class="contact-info-text">202 Helga Springs Rd, Crawford, TN 38554</p>
                        <div class="contact-info-link">Call Us: <a href="tel:8002758777">800.275.8777</a></div>
                        <div class="contact-info-link"><a href="mailto:iko@company.com">iko@company.com</a></div>
                        <p class="copyright-text">Copyright © 2024 <a href="#">IKO.</a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>