{% extends 'courses/layouts/layout.html' %}
{% load static %}

{% block metatags %}
<title>Codediction| About</title>
{% endblock metatags %}

{% block main %}
    <!-- About -->
    <section class="about section-padding bg-dark-1c">
        <div class="container">
            <div class="row">
                <h1>Formulating Designs <br> Forging Progress...</h1>
                <div class="col-md-6">
                    <div class="full-div">
                        <div class="img"><img src="{% static "courses/images/about.jpg" %}" class="img-fluid"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Get to Know Us Better</h2>
                    <p>Welcome to [Company Name], your trusted partner in IT solutions and services. At [Company Name], we pride ourselves on delivering cutting-edge technology solutions tailored to meet the unique needs of our clients. With a team of experienced professionals and a commitment to excellence, we offer a comprehensive range of IT services designed to drive innovation, enhance productivity, and streamline operations for businesses of all sizes.</p>
                </div>
                <div class="col-md-6 margin-top-30">
                    <p>From cloud computing and cybersecurity to software development and IT consulting, we leverage the latest tools and techniques to empower our clients to thrive in today's digital landscape. Our dedication to customer satisfaction is evident in every project we undertake, as we strive to exceed expectations and deliver measurable results.</p>
                </div>
                
            </div>
        </div>
    </section>
    
    <section class="work-process section-padding bg-light">
        <div class="container">
            <div class="row mb-30">
                <div class="col-md-6">
                    <h1 class="wow text-dark" data-splitting>Our Standard WORK Process</h1>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p style="max-width:481px">"Our Standard Design Thinking Process" guides our IT innovation. It involves understanding user needs, defining problems, ideating solutions, prototyping, and iterative testing. This approach ensures user-friendly and effective solutions.</p>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-md-6">
                    <div class="count">
                        01
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work-process-right-item" style="background:rgb(229 197 134 / 40%);">
                        <div class="icon">
                            <img src="{% static 'courses/images/work-process.png' %}" alt="">
                        </div>
                        <h6>Empathize</h6>
                        <p>Understand users' needs and motivations.</p>
                        <p>Explore users' emotions and experiences.</p>
                        <p>Conduct thorough user research, including interviews and observations.</p>
                        <p>Step into users' shoes to see the world from their perspective.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-md-6">
                    <div class="count">
                        02
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work-process-right-item" style="background:rgb(229 151 129 / 40%);">
                        <div class="icon">
                            <img src="{% static 'courses/images/work-process.png' %}" alt="">
                        </div>
                        <h6>Empathize</h6>
                        <p>Understand users' needs and motivations.</p>
                        <p>Explore users' emotions and experiences.</p>
                        <p>Conduct thorough user research, including interviews and observations.</p>
                        <p>Step into users' shoes to see the world from their perspective.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-md-6">
                    <div class="count">
                        03
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work-process-right-item" style="background:rgb(164 229 134 / 40%);">
                        <div class="icon">
                            <img src="{% static 'courses/images/work-process.png' %}" alt="">
                        </div>
                        <h6>Empathize</h6>
                        <p>Understand users' needs and motivations.</p>
                        <p>Explore users' emotions and experiences.</p>
                        <p>Conduct thorough user research, including interviews and observations.</p>
                        <p>Step into users' shoes to see the world from their perspective.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-md-6">
                    <div class="count">
                        04
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work-process-right-item" style="background:rgb(199 134 229 / 40%);">
                        <div class="icon">
                            <img src="{% static 'courses/images/work-process.png' %}" alt="">
                        </div>
                        <h6>Empathize</h6>
                        <p>Understand users' needs and motivations.</p>
                        <p>Explore users' emotions and experiences.</p>
                        <p>Conduct thorough user research, including interviews and observations.</p>
                        <p>Step into users' shoes to see the world from their perspective.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="count">
                        05
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work-process-right-item" style="background:rgb(134 143 229 / 40%);">
                        <div class="icon">
                            <img src="{% static 'courses/images/work-process.png' %}" alt="">
                        </div>
                        <h6>Empathize</h6>
                        <p>Understand users' needs and motivations.</p>
                        <p>Explore users' emotions and experiences.</p>
                        <p>Conduct thorough user research, including interviews and observations.</p>
                        <p>Step into users' shoes to see the world from their perspective.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="team section-padding about-team bg-dark">
        <div class="container">
            <div class="row mb-30">
                <div class="col-md-12">
                    <h1 class="wow text-white" data-splitting>MEAT OUR AVENGERS</h1>
                </div>
            </div>
            <div class="row">
                {% for team_member in team %}
                <div class="col-lg-3 col-md-4">
                    <div class="item">
                        <div class="img"> <img src="{{team_member.photo.url}}" alt="" class="w-100"> </div>
                        <div class="con">
                            <h5 class="mb-0"><a href="javascript:;">{{team_member.name}}<br><span>{{team_member.designation}}</span></a></h5>
                            <div class="arrow"> <a href="javascript:;"><i class="fa-solid fa-arrow-up"></i></a> </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="what-sets-us section-padding bg-light">
        <div class="container">
            <div class="row mb-30">
                <h1 class="wow text-dark" data-splitting>What Sets Us <br>
                    Apart from Others</h1>
            </div>
            <div class="row mb-30">
                <div class="col-md-4 padding-0">
                    <div class="what-sets-us-item border-top">
                        <h6>Empathize</h6>
                        <p>Our skilled designers bring diverse expertise, ensuring a holistic approach to every project for superior results.</p>
                    </div>
                </div>
                <div class="col-md-4 padding-0">
                    <div class="what-sets-us-item border-left border-right border-bottom">
                        <h6>Empathize</h6>
                        <p>Our skilled designers bring diverse expertise, ensuring a holistic approach to every project for superior results.</p>
                    </div>
                </div>
                <div class="col-md-4 padding-0 ">
                    <div class="what-sets-us-item border-top">
                        <h6>Empathize</h6>
                        <p>Our skilled designers bring diverse expertise, ensuring a holistic approach to every project for superior results.</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-30">
                <div class="col-md-4 padding-0 ">
                    <div class="what-sets-us-item border-bottom border-right padding-top-40">
                        <h6>Empathize</h6>
                        <p>Our skilled designers bring diverse expertise, ensuring a holistic approach to every project for superior results.</p>
                    </div>
                </div>
                <div class="col-md-4 padding-0">
                    <div class="what-sets-us-item border-bottom padding-top-40">
                        <h6>Empathize</h6>
                        <p>Our skilled designers bring diverse expertise, ensuring a holistic approach to every project for superior results.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock main %}