{% extends 'courses/layouts/layout.html' %}
{% load static %}

{% block metatags %}
<title>About</title>
{% endblock metatags %}

{% block main %}
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img bg-fixed" data-overlay-dark="7" data-background="images/slider/5.jpg">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt-60">
                        <h1>Blog Grid</h1>
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li>Blog Grid</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Blog Grid -->
    <section class="blog-home section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".1s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/1.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Graphic</a></h6>
                                <h4 class="stitle"><a href="post.html">The Power of Wall Graphic Design</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".2s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/2.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Exterior</a></h6>
                                <h4 class="stitle"><a href="post.html">Architectural Designs in Agencies</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/3.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Branding</a></h6>
                                <h4 class="stitle"><a href="post.html">Branding for Private Label Brands</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".4s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/4.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Art / Design</a></h6>
                                <h4 class="stitle"><a href="post.html">The Best 3 Dimensional Art ideas</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".5s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/5.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Web / Design</a></h6>
                                <h4 class="stitle"><a href="post.html">The Best Websites for Design Inspiration</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay=".6s">
                        <div class="wrap img-grayscale">
                            <div class="img img-grayscale"> <img src="images/blog/6.jpg" class="img-fluid"> </div>
                            <div class="title">
                                <h6><a href="blog.html">Product / Design</a></h6>
                                <h4 class="stitle"><a href="post.html">What is innovation product design?</a></h4>
                                <div class="icon-box"><a href="post.html"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mt-60 wow fadeInUp" data-wow-delay=".7s">
                    <ul class="pagination-wrap">
                        <li><a href="blog2.html#"><i class="fa-solid fa-caret-left"></i></a></li>
                        <li><a href="blog2.html#">1</a></li>
                        <li><a href="blog2.html#" class="active">2</a></li>
                        <li><a href="blog2.html#">3</a></li>
                        <li><a href="blog2.html#"><i class="fa-solid fa-caret-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Lets Talk -->
    <section class="lets-talk background bg-img bg-fixed section-padding" data-overlay-dark="7" data-background="images/banner2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="wow" data-splitting>We develop digital future</h6>
                    <h5><span>Let's</span> Talk?</h5>
                    <a href="tel:+8001234567" class="btn-1 mt-30"> <i class="fa-solid fa-phone"></i> 800 123 4567</a>
                    <a href="contact.html" class="btn-5 mt-30"> <i class="fa-solid fa-paper-plane"></i> Make an enquiry</a>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}